/* cyrillic-ext */
@font-face {
  font-family: 'Bliss Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Bliss Regular'), url(https://raw.githubusercontent.com/ZoltanKelly/ArcGisHub/master/blsw-rg.woff2) format('woff2');
}
