/* cyrillic-ext */
@font-face {
  font-family: 'Bliss';
  font-style: normal;
  font-weight: 400;
  src: local('Bliss'), url(https://raw.githubusercontent.com/ZoltanKelly/ArcGisHub/master/blsw-bd.woff2) format('woff2');
}
